<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("About")}</%block>
        </h1>
        <p>
            <%block name="pagecontent">${page_content or _("Denne plattformen brukes til kursutvikling for kurs og emner som skal publiseres på http://digit.ntnu.no.")}</%block>
        </p>
    </section>
</main>
