## mako
<%page expression_filter="h"/>
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

<h3>Du er nå på kursutviklingsplattformen til NTNU Drive.</h3>
<figure>For mer informasjon og hjelp til kursutvikling, se kurset DriveX.<figure>
  <!-- This is the code for the chatwidget for Chatlio -->
    <script type="text/javascript">
      window._chatlio = window._chatlio||[];
      !function(){ var t=document.getElementById("chatlio-widget-embed");if(t&&window.ChatlioReact&&_chatlio.init)return void _chatlio.init(t,ChatlioReact);for(var e=function(t){return function(){_chatlio.push([t].concat(arguments)) }},i=["configure","identify","track","show","hide","isShown","isOnline", "page", "open", "showOrHide"],a=0;a<i.length;a++)_chatlio[i[a]]||(_chatlio[i[a]]=e(i[a]));var n=document.createElement("script"),c=document.getElementsByTagName("script")[0];n.id="chatlio-widget-embed",n.src="https://w.chatlio.com/w.chatlio-widget.js",n.async=!0,n.setAttribute("data-embed-version","2.3");
         n.setAttribute('data-widget-id','a142a815-907f-4ede-45fa-4daf51197001');
         c.parentNode.insertBefore(n,c);
      }();
  </script>
  <!-- This is the end of the chatwidget Chatlio -->
