
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

<div class="wrapper wrapper-footer">
  <footer id="footer-openedx" class="grid-container"
  ## When rendering the footer through the branding API,
  ## the direction may not be set on the parent element,
  ## so we set it here.
  % if bidi:
  dir=${bidi}
  % endif
  >
  <div class="colophon">
    <nav class="nav-colophon" aria-label="${_('About')}">
      <ul>
        <li><a href="https://www.ntnu.no/drive" target="_blank">${_('Om NTNU Drive')}</a></li>
        <li><a href="https://innsida.ntnu.no" target="_blank">${_('NTNU Innsida')}</a></li>
        <li><a href="https://dlr.unit.no" target="_blank">${_('DLR')}</a></li>
        <li><a href="https://innsida.ntnu.no/wiki/-/wiki/Norsk/Kom+i+gang+med+MOOC" target="_blank">${_('Kom i gang med MOOC')}</a></li>
      </ul>
    </nav>

    <div class="wrapper-logo">
      <p>
        <a href="/">
          <img alt="organization logo" src="${static.url('images/logo-footer.png')}" width="140">
        </a>
      </p>
    </div>

    ## Site operators: Please do not remove this paragraph! This attributes back to edX and makes your acknowledgement of edX's trademarks clear.
    <p class="copyright">© 2019 NTNU Beta</p>

  </div>

  <div class="footer-about-openedx">
    <p>
        <a href="https://open.edx.org">
          <img src="${static.url('images/openedx-grey.svg')}" alt="Powered by Open edX" width="110">
        </a>
    </p>
  </div>
</footer>
</div>

% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
<!-- This is the code for the chatwidget for Chatlio -->
  <script type="text/javascript">
    window._chatlio = window._chatlio||[];
    !function(){ var t=document.getElementById("chatlio-widget-embed");if(t&&window.ChatlioReact&&_chatlio.init)return void _chatlio.init(t,ChatlioReact);for(var e=function(t){return function(){_chatlio.push([t].concat(arguments)) }},i=["configure","identify","track","show","hide","isShown","isOnline", "page", "open", "showOrHide"],a=0;a<i.length;a++)_chatlio[i[a]]||(_chatlio[i[a]]=e(i[a]));var n=document.createElement("script"),c=document.getElementsByTagName("script")[0];n.id="chatlio-widget-embed",n.src="https://w.chatlio.com/w.chatlio-widget.js",n.async=!0,n.setAttribute("data-embed-version","2.3");
       n.setAttribute('data-widget-id','a142a815-907f-4ede-45fa-4daf51197001');
       c.parentNode.insertBefore(n,c);
    }();
</script>
<!-- This is the end of the chatwidget Chatlio -->
